.content-container {
    padding: 1%;
    /* height: 100vh; */
    font-size: 35px;
}
.left-panel {
    background-color: lightyellow;
    flex: 5;
}

.mid-panel {
    background-color: lightyellow;
    flex: 5;
}

.right-panel {
    background-color: lightgreen;
    flex: 5;
}
.box {
    border: 1px solid black;
}

.row {
    display: flex;
}